html {

    font-size: 20px;
   
    }
   
   
   
    p {
   
    font-size: 0.8rem; /* = 16px */
   
    }
   
    p span {
   
    font-size: 2em; /* = 16px * 2 = 32px */
   
    }
   
    p strong {
   
    font-size: 2rem; /* = 20px * 2 = 40px */
   
    }
    .lorem {
        height: 800px;
        background-image: url(./img/background.png);
        background-repeat: no-repeat;
    }